.auth-nav{
  background-color: $warning;
  height: 67px;
  width: 100%;
}

.auth-nav-table{
  height: 67px;
  width: 100%;
  display: table
}

.auth-nav-table > .auth-nav-cell{
  display: table-cell;
  vertical-align: middle;
}

.auth-nav-table > .auth-nav-cell > span {
  font-size: 30px;
  color: white;
  font-weight: 800;
  line-height: 24px;
  margin: 0 25px;
}

.bottom-footer{
  background-color: $warning;
  height: 67px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.bottom-footer{
  height: 67px;
  width: 100%;
  display: table
}

.bottom-footer > .auth-nav-cell{
  display: table-cell;
  vertical-align: middle;
}

.bottom-footer > .auth-nav-cell > span {
  font-size: 30px;
  color: white;
  font-weight: 800;
  line-height: 24px;
  margin: 0 25px;
}