<div class="auth-nav">
    <div class="auth-nav-table">
        <div class="auth-nav-cell">
            <span>eCommerce demo</span>
            <span class="pull-right">Step 1: Checkout</span>
        </div>
    </div>
</div>
<div class="auth-main">
    <div class="auth-block text-center">
        <img class="cart-img" ng-src="assets/img/cart.png" height="200" width="200">
          <div ng-keydown="($event.keyCode === 13) && checkoutAmount()">
            <div class="row form-group">
                <div class="col-sm-12">
                    <input type="text" ng-model="amount.custom" class="form-control custom-form-control"  placeholder="Custom amount">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12">
                    <button ng-disabled="(apiToken == '') || (merchantIdentifier == '') || (merchantName == '') || (!amount.custom)"
                            ng-click="checkoutAmount()" class="btn btn-primary btn-auth pull-right divider">
                        Checkout with &nbsp; <img src="assets/img/flash.png" height="40" width="90">
                    </button>
                </div>
            </div>
          </div>
    </div>
</div>